* {
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh
}
/* Header */
.header {
 display: flex;
 justify-content: space-between; 
 padding: 20px 25px;  
 font-size: 15px
}

.searchicon {
    object-fit: contain;
    
}

.search {
    display: flex;
    align-items: center;
    
}